<html>
  <head>
    <title>网站主页</title>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <div class="index-content">
      {% for item in list %}
      <div class="item">
        <div class="title">{{item.name}}</div>
        {% for vv in item.options %}
        <div class="cell">
          <a href="{{vv.url}}">
            {{ vv.name }} {% if vv.describe %} （{{vv.describe}}） {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
